html,body{
    background-color: rgb(245,245,245);
}
.user{
    width: 100%;
    height: 18.5rem;
    background-image: url(./../images/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    -o-background-size: cover;
       background-size: cover;
    padding: 0.5rem 1rem;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    .ico{
        // position: absolute;
        // right: 0rem;
        margin-left: 2rem;
        a{
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            img{
                width: 2.2rem;
            }
            span{
                font-size: 1.2rem;
                color: white;
            }
        }
    }
    .head{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
           -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
             -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 1.5rem;
        img{
            height: 6rem;
            width: 6rem;
        }
        button{
            outline: none;
            margin-top: 1rem;
            border-radius: 0.5rem;
            border: 1px solid white;
            padding: 0.5rem 2rem;
            color: white;
            font-size: 2rem;
            background-color: rgba(255,255,255,0);
        }
    }
}
.content{
    height: 20rem;
    width: 100%;
    background-color: white;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding-left: 4rem;
    li{
        font-size: 1.6rem;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 100%;
        height: 25%;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid rgb(231, 230, 230);
        color: rgb(50, 50, 50);
        img{
            height: 1.5rem;
            margin-right: 2rem;
        }
        &:last-child{
            border: none;
        }
        .like{
            position: absolute;
            left: 1.5rem;
            img{
                height: 1.6rem;
            }
        }
    }
}